body {
    background-image: url(images/background.png);
    background-repeat: repeat;
}

#nav-head {
    background-color: #4AAAA5;
    color: #ffffff;
    padding-left: 3px;
    padding-right: 3px;
}

h1 {
    color: #4AAAA5;
}